<% if @bib.created_by.present? %>
<div class="form-group row string optional bibliography_year_published form-group-valid">
    <div class="col-sm-2 col-form-label-static">Created By</div>
    <div class="col-sm-10 static-value"><%= @bib.created_by %></div>
</div>
<% end %>

<% if @bib.created_at.present? %>
<div class="form-group row string optional bibliography_year_published form-group-valid">
    <div class="col-sm-2 col-form-label-static">Created At</div>
    <div class="col-sm-10 static-value"><%= @bib.created_at %></div>
</div>
<% end %>

<% if can? :manage, 'Status' %>
    <%= render 'bibliographies/fields/status', :form => form %>
<% end %>

<% if current_user.admin_role? %>
    <%= render 'bibliographies/fields/make_published', :form => form %>
<% end %>

<script>
$(document).ready(function() {
    $('.bib_form form').enableClientSideValidations();
});
</script>