<%# Only allow editing the display_title field once the record has been saved, and the title field is non-empty %>
<% if @bib.title.present? %>
    <div class="form-group row string optional bibliography_display_title form-group-valid">
        <label class="col-sm-2 col-form-label select"><%= field_label %></label>
        <div class="col-sm-10">
            <%= form.text_area :display_title, 
                label: field_label, 
                class: "tinymce"
                # has id: 'bibliography_display_title'
            %>
            <%= tinymce :displaytitle, selector: "#bibliography_display_title" %>
        </div>
    </div>
<% else %>
    <%= form.input :display_title, 
        label: field_label,
        as: :string,
        disabled: true,
        placeholder: Bibliography::DISPLPLAY_NAME_PLACEHOLDER
    %>
<% end %>