<% required_status = required_status ||= false %>
<% pretend_required = pretend_required ||= false %>
<div id='leuven_urls' class='repeatable-field'>
    <div class="fields">
        <%= form.simple_fields_for :leuven_urls do |c| %>
            <%= c.input :link, 
                label: format_field_label(field_label, pretend_required),
                as: :string, 
                required: required_status,
                input_html: { 
                    data: { 
                        parsley_type: :url,
                        parsley_pattern: "https?:\/\/.*"
                    }
                },
                hint: hint_text ||= Bibliography::URL_FIELD_HINT
            %>
        <% end %>
    </div>
    <div class='links clearfix'>
        <div class="col-sm-2"></div>
        <div class="col-sm-10 btn-add-container">
            <%= link_to_add_association Bibliography::ADD_BUTTON + field_label, 
                form, 
                :leuven_urls,
                class: 'btn btn-warning btn-add fa-icon', 
                form_name: 'form', 
                data: {
                    'association-insertion-node' => '#leuven_urls .fields', 
                    'association-insertion-method' => 'append'
                }, 
                partial: 'url_fields' 
            %>
        </div>
    </div>
</div>