<div id='multimedia_urls' class='repeatable-field'>
    <div class="fields">
        <%= form.simple_fields_for :multimedia_urls do |c| %>
            <%= c.input :link, 
                label: field_label.html_safe + Bibliography::REQUIRED_FLAG,
                as: :string,
                required: required_status,
                validate: required_status, 
                hint: Bibliography::URL_FIELD_HINT
            %>
        <% end %>
    </div>
    <div class='links clearfix'>
        <div class="col-sm-2"></div>
        <div class="col-sm-10 btn-add-container">
            <%= link_to_add_association Bibliography::ADD_BUTTON + field_label, 
                form, 
                :multimedia_urls,
                class: 'btn btn-warning btn-add fa-icon', 
                form_name: 'form', 
                data: {
                    'association-insertion-node' => '#multimedia_urls .fields', 
                    'association-insertion-method' => 'append'
                }, 
                partial: 'url_fields' 
            %>
        </div>
    </div>
</div>