<% if @journal.nil? %>
    <p>This record doesn't exist.</p>
    <%= link_to 'Go Back to Journal Titles index', citationterms_journals_path, class: 'btn btn-info' %>
<% elsif can? :edit, Journal %>
    <h2 class="edit-label"><span class="header-label">Editing Journal Title:</span> <%= @journal.name.present? ? @journal.name : @journal.id %></h2>

    <div class="alert alert-info" role="alert">Updating this record will also update all other records that reference this term. This may take several seconds to complete!</div>

    <%= render 'form', urlpath: citationterms_journal_path %>
<% else %>
    <%= render 'bibliographies/not_permitted' %>
<% end %>