<% if can? :read, Journal %>
  <h2>Journal Title index</h2>
  <p> Reminder: Do not use diacritics when filtering </p>

  <div class="button-group">
    <%= link_to 'Add New Journal Title record', new_citationterms_journal_path, class: 'btn btn-primary' %>
  </div>

  <%= grid(@journals_grid,
        show_filters: :when_filtered,
        allow_showing_all_records: false, 
        upper_pagination_panel: true
      ) do |g|

    g.column name: 'Title', attribute: 'normal_name' do |journal|
      journal.name
    end

    g.column name: 'Count' do |per|
      link_to per.bib_refs.count, references_citationterms_journal_path(per.id)
    end

    g.column name: 'Last Modified At', attribute: 'updated_at', filter: false do |loc|
      format_date_string(loc.updated_at)
    end

    if can? :detroy, Journal
      g.column do |journal|
        "<div class='icon show-link'><span class='icon-link'>#{link_to( 'Show', citationterms_journal_path(journal) )}</span></div>".html_safe + 
        "<div class='icon edit-link'><span class='icon-link'>#{link_to( 'Edit', edit_citationterms_journal_path(journal) )}</span></div>".html_safe + 
        "<div class='icon destroy-link'><span class='icon-link'>#{link_to( 'Delete', citationterms_journal_path(journal), method: :delete, data: { confirm: 'Are you sure?' } )}</span></div>".html_safe
      end
    elsif can? :edit, Journal
      g.column do |journal|
        "<div class='icon show-link'><span class='icon-link'>#{link_to( 'Show', citationterms_journal_path(journal) )}</span></div>".html_safe + 
        "<div class='icon edit-link'><span class='icon-link'>#{link_to( 'Edit', edit_citationterms_journal_path(journal) )}</span></div>".html_safe
      end
    else
      g.column do |journal|
        "<div class='icon show-link'><span class='icon-link'>#{link_to( 'Show', citationterms_journal_path(journal) )}</span></div>".html_safe
      end
    end
  end -%>

  <div class="button-group">
    <%= link_to 'Add New Jesuit record', new_citationterms_journal_path, class: 'btn btn-primary' %>
  </div>

<% else %>
  <%= render 'bibliographies/not_permitted' %>
<% end %>
