<h2>Add New Journal Title record</h2>

<% if can? :create, Journal %>
    <%= render 'error_messages' %>

    <%= render 'form', urlpath: citationterms_journals_path %>
    
    <%= render 'error_messages' %>
<% else %>
  <%= render 'bibliographies/not_permitted' %>
<% end %>