<% if @period.nil? %>
    <p>This record doesn't exist.</p>
    <%= link_to 'Go Back to Period index', periods_path %>
<% elsif can? :edit, Period %>
    <h1>Editing Period #<%= @period.id %></h1>

    <%= render 'form' %>
<% else %>
    <%= render 'bibliographies/not_permitted' %>
<% end %>