<% if @user.nil? %>
    <p>This record doesn't exist.</p>
    <%= link_to 'Go Back to Dashboard', dashboard_path %>
<% elsif can? :read, 'ManageUsers' %>

    <h2 class="edit-label"><span class="header-label">Editing User:</span> <%= @user.name.present? ? @user.name : @user.email %></h2>

    <%= render 'form', urlpath: manage_user_path %>
<% end %>
