<% @page_title = browse_page_title letter: @letter, browse_by: 'Subjects' %>

<h2>Browse all Subjects</h2>

<p>Below you can browse the thematic subjects of the project's records (the 'what' of the records). Each term appears in an alphabetical list, and when selected it will display all results associated with the specific term.</p>

<%= alphabetical_paginate @alpha_params %>

<div id="pagination_table" class="term-list-container">
  <% @subjects.each do |sub| %>
    <div class="term-list-item"><a href="/catalog?f[subjects_facet][]=<%= sub.name %>"><%= sub.name %></a></div>
  <% end %>
</div>