<div class="staticpage-container container">
    <% if @page.nil? %>
        <p>This page doesn't exist.</p>
        <p>Please </p>
    <% else %>
        <div class="heading-container"><h2><%= @page.name %></h2></div>

        <hr/>

        <div class="pull-right col-sm-10 about-body">
            <%= @page.body.html_safe %>
        </div>
    <% end %>
</div>
