<% if @page.nil? %>
    <p>This record doesn't exist.</p>
<% else %>

    <div class="staticpage-container container">
        <div class="heading-container"><h2>About <%= @page.name %></h2></div>

        <hr/>

        <div class="pull-right col-sm-10 about-body">
            <%= @page.body.html_safe %>
        </div>
    </div>

<% end %>
