<div class="row navigation">
    <div class="col-sm-8 col-xs-12 center-col">
        <nav class="navbar-collapse collapse navbar-bcjs" aria-label="primary navigation" id="bc-navbar"role="navigation">
            <ul id="menu-primary-navigation" class="nav nav-bcjs nav-justified">
            <li id="menu-item-2010" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children drop-down menu-item-2010"data-attr><a href="https://jesuitportal.bc.edu/about/" class="dropdown-toggle" data-toggle="dropdown">About</a>
                <ul class="dropdown-menu depth_0">
                    <li id="menu-item-2013" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2013"data-attr><a href="https://jesuitportal.bc.edu/about/the-institute/">The Institute for Advanced Jesuit Studies</a></li>
                </ul>
            </li>
            <li id="menu-item-2001" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children drop-down menu-item-2001"data-attr><a href="https://jesuitportal.bc.edu/research/" class="dropdown-toggle" data-toggle="dropdown">Partners</a>
                <ul class="dropdown-menu depth_0">
                    <li id="menu-item-2002" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2002"data-attr><a href="https://jesuitportal.bc.edu/research/documents/">Essential Documents</a></li>
                </ul>
            </li>
            <li id="menu-item-2000" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children drop-down menu-item-2000"data-attr><a href="https://jesuitportal.bc.edu/publications/" class="dropdown-toggle" data-toggle="dropdown">Correspondent/Network</a>
                <ul class="dropdown-menu depth_0">
                    <li id="menu-item-1999" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1999"data-attr><a href="https://jesuitportal.bc.edu/publications/jjs/">Journal of Jesuit Studies</a></li>
                </ul>
            </li>
             <li id="menu-item-2000" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children drop-down menu-item-2000"data-attr><a href="https://jesuitportal.bc.edu/publications/" class="dropdown-toggle" data-toggle="dropdown">Learn More/Collaborate</a>
                <ul class="dropdown-menu depth_0">
                    <li id="menu-item-1999" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1999"data-attr><a href="https://jesuitportal.bc.edu/publications/jjs/">Learn More/Collaborate</a></li>
                </ul>
            </li>
            <li id="menu-item-2009" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2009"data-attr><a href="https://jesuitportal.bc.edu/news/">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</div>