<header class="header">
<div class="container-fluid">
<div class="hidden-xs">
            <div class="row">
              <div class="top-menu">
                <span class="upper"><a href="http://www.bc.edu/iajs" target="new" class="iajs">The Portal to Jesuit Studies</a></span>
              </div>
            </div>
            <a href="/">
              <div class="row brand-backgnd brand">
                <div class="header-brand center-col">
                  <div class="row">
                    <div class="col-sm-1">
                      <img alt="Institute for Advanced Jesuit Studies" src="https://jesuitportal.bc.edu/wp-content/themes/bciajs/imgs/bciajs_logo_transparent.png" class="logo"/>
                    </div>
                    <div class="pull-right col-sm-10">
                      <h1 class="upper header-title">Jesuit Online Bibliography</h1>
                      <h4 class="upper header-sub-title">A Free, Searchable Collection of Jesuit Studies Scholarship</h4>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
</div>
</header>