<header class="header">
<div class="container-fluid">
<div class="">
            <div class="row">
              <div class="top-menu">
                <span class="upper hidden-xs"><a href="https://jesuitportal.bc.edu" target="new" class="iajs">The Portal to Jesuit Studies</a></span>
                <ul class="nav navbar-nav bc-top-nav ">
                  <% if has_user_authentication_provider? %>
                    <% if current_user %>
                      <li>
                        <div class='nav-item user-signout'><%= link_to 'Sign out', destroy_user_session_path %></div>
                      </li>
                      <% unless current_user.to_s.blank? -%>
                        <li>
                          <div class='nav-item user-email'><%= link_to current_user, edit_user_registration_path %></div>
                        </li>
                      <% end %>
                    <% else %>
                      <li>
                        <div class='nav-item user-signin'><%= link_to 'Sign in', new_user_session_path %></div>
                      </li>
                    <% end %>
                  <% end %>
                  
                </ul>
              </div>
            </div>
            <a class="hidden-xs" href="/">
              <div class="row brand-backgnd brand">
                <div class="header-brand center-col">
                  <div class="row">
                    <div class="col-sm-1">
                      <%= image_tag('bciajs_logo_transparent.png', alt:'Institute for Advanced Jesuit Studies', class: 'logo')%>
                    </div>
                    <div class="pull-right col-sm-10">
                      <h1 class="upper header-title">Jesuit Online Bibliography</h1>
                      <h4 class="upper header-sub-title">A Free, Searchable Collection of Jesuit Studies Scholarship</h4>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
</div>
</header>