<footer>
      <div class="footer container-fluid">
          <div class="row">
            <div class="inner center-col">
              <div class='col-xs-12 col-sm-6'>
                  <h2 class="footer-header">The Portal to Jesuit Studies</h2>
                  <p>
                    <a href="http://www.bc.edu/iajs" style="text-decoration:underline;" target="new">Institute for Advanced Jesuit Studies</a><br>
                    <br>Boston College<br>140 Commonwealth Ave.<br>Chestnut Hill, MA 02467<br><br>Copyright Trustees of Boston College<br>
                  </p>
                </div>
                <div class='col-xs-12 col-sm-4 pull-right'>
                  <ul class="footer-menu">
                    <li><a href="/about/contact-us/">Contact Us​</a></li>
                    <li><a href="/about/policies/">Privacy Policy</a></li>
                    <li><a href="/about/contribute/">Contribute to the Portal</a></li>
                    <li><a href="/about/portal/">About the Portal</a></li> 
                    <li><a href="/about/sitemap/">Sitemap</a></li> 
                  </ul>
                </div>
            </div>  
          </div>
 </footer>