<footer class="bcfooter">
  <div class="footer container-fluid">
      <div class="row">
        <div class="inner center-col clearfix">
        <div class="pagebreak">
          </div>
          <div class='col-xs-12 col-sm-6 col-md-9 footer-text'>
              <p class="footer-title">Jesuit Online Bibliography</p>
              <p>The Jesuit Online Bibliography is organized by the <a href="/about">three founding institutions</a> -- the Archivum Romanum Societatis Iesu, the Jesuitica Project at KU/Leuven, and the Institute for Advanced Jesuit Studies at Boston College. The project's records are aggregated into the <a href="https://www.jesuitportal.bc.edu/">Portal to Jesuit Studies</a>.</p>
              <div id="order">
              <div class='col-xs-12 col-sm-6 col-md-3 logo'><%= image_tag('Logo_300.png', width:175, alt:'Boston College Libraries')%></div>
              <p id="lib-blurb">The Jesuit Online Bibliography was <a style="text-decoration: underline;" href="/about/team">developed</a> by the Boston College Libraries. </p>
            </div>
            </div>
          <div class='col-xs-12 col-sm-12 col-md-12'>
            <ul class="site-links">
              <li><a href="/about/contact">Contact the Projects' Editors</a></li>
              <li><a href="/about">Learn More</a></li>
              <li><a href="/about/add-record">Add Your Records</a></li>
            </ul>
          </div>
          <div class='col-xs-12 col-sm-12 col-md-12 copyright'>
          <p>Copyright Trustees of Boston College</p>
          </div>
        </div>
      </div>
  </div>
 </footer>