<footer class="bcfooter">
  <div class="footer container-fluid">
      <div class="row">
        <div class="inner center-col clearfix">
          <div class='col-xs-12 col-sm-6 col-md-3 logo'><%= image_tag('Logo_300.png', width:175, alt:'Boston College Libraries')%></div>
          <div class="pagebreak"><p>The Jesuit Online Bibliography was <a href="/about/team">developed</a> by the Boston College Libraries.</p>
          </div>
          <div class='col-xs-12 col-sm-6 col-md-9 footer-text'>
              <p class="footer-title">Jesuit Online Bibliography</p>
              <p><a href="#">Institute for Jesuit Studies</a></p>
            </div>
          <div class='col-xs-12 col-sm-12 col-md-12'>
            <ul class="site-links">
              <li><a href="/about/contact">Contact Us</a></li>
              <li><a href="/about">Learn More</a></li>
              <li><a href="/about/contact">Add Your Records</a></li>
            </ul>
          </div>
          <div class='col-xs-12 col-sm-12 col-md-12 copyright'>
          <p>Copyright Trustees of Boston College</p>
          </div>
        </div>
      </div>
  </div>
 </footer>