<footer class="bcfooter">
  <div class="footer container-fluid">
      <div class="row">
        <div class="inner center-col clearfix">
          <div class='col-xs-12 col-sm-6 col-md-3 logo'><%= image_tag('Logo_300.png', width:175, alt:'Boston College Libraries')%></div>
          <div class='col-xs-12 col-sm-6 col-md-9 footer-text'>
              <p>The Jesuit Online Bibliography is managed by the Digital Initiatives and Services division of Boston College Libraries.</p>
              <p class="address">Boston College <br>140 Commonwealth Ave <br>Chestnut Hill, MA 02467</p>
            </div>
          <div class='col-xs-12 col-sm-12 col-md-12'>
            <ul class="site-links">
              <li>Contact Us</li>
              <li>Privacy policy</li>
              <li>About</li>
              <li>Sitemap</li>
            </ul>
          </div>
          <div class='col-xs-12 col-sm-12 col-md-12 copyright'>
          <p>Copyright Trustees of Boston College</p>
          </div>
        </div>
      </div>
  </div>
 </footer>