<% if @period.nil? %>
    <p>This record doesn't exist.</p>
    <%= link_to 'Go Back to Century terms index', citationterms_periods_path %>
<% elsif can? :edit, Period %>
    <h2 class="edit-label"><span class="header-label">Editing Century:</span> <%= @period.name.present? ? @period.name : @period.id %></h2>

    <%= render 'form', urlpath: citationterms_period_path %>
<% else %>
    <%= render 'bibliographies/not_permitted' %>
<% end %>