<% if can? :read, Period %>
  <h2>Century terms index</h2>

  <div class="button-group">
    <%= link_to 'Add New Century term', new_citationterms_period_path, class: 'btn btn-primary' %>
  </div>

  <%= grid(@periods_grid,
        show_filters: :when_filtered,
        allow_showing_all_records: false, 
        upper_pagination_panel: true
      ) do |g|

    g.column name: 'Name', attribute: 'normal_name' do |per|
      per.name
    end

    g.column name: 'Count' do |per|
      link_to per.bib_refs.count, references_citationterms_period_path(per.id)
    end

    g.column name: 'Last Modified At', attribute: 'updated_at', filter: false do |loc|
      format_date_string(loc.updated_at)
    end

    if can? :detroy, Period
      g.column do |per|
        "<div class='icon show-link'><span class='icon-link'>#{link_to( 'Show', citationterms_period_path(per) )}</span></div>".html_safe + 
        "<div class='icon edit-link'><span class='icon-link'>#{link_to( 'Edit', edit_citationterms_period_path(per) )}</span></div>".html_safe + 
        "<div class='icon destroy-link'><span class='icon-link'>#{link_to( 'Delete', citationterms_period_path(per), method: :delete, data: { confirm: 'Are you sure?' } )}</span></div>".html_safe
      end
    elsif can? :edit, Period
      g.column do |per|
        "<div class='icon show-link'><span class='icon-link'>#{link_to( 'Show', citationterms_period_path(per) )}</span></div>".html_safe + 
        "<div class='icon edit-link'><span class='icon-link'>#{link_to( 'Edit', edit_citationterms_period_path(per) )}</span></div>".html_safe
      end
    else
      g.column do |per|
        "<div class='icon show-link'><span class='icon-link'>#{link_to( 'Show', citationterms_period_path(per) )}</span></div>".html_safe
      end
    end
  end -%>

  <div class="button-group">
    <%= link_to 'Add New Century term', new_citationterms_period_path, class: 'btn btn-primary' %>
  </div>

<% else %>
  <%= render 'bibliographies/not_permitted' %>
<% end %>
