<%# backend-based validation error details %>
<% if @person.present? and @person.errors.any? %>
  <div class="panel panel-danger error-panel" id="error_explanation">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@person.errors.count, "error") %> prohibited this record from being saved:</h3>
    </div>
    <div class="panel-body">
      <ul>
        <% @person.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= render 'bibliographies/parsley_error_messages' %>