<% if @entity.nil? %>
    <p>This record doesn't exist.</p>
    <%= link_to 'Go Back to Jesuits index', citationterms_entities_path, class: 'btn btn-info' %>
<% elsif can? :edit, Entity %>
    <h2 class="edit-label"><span class="header-label">Editing Jesuit:</span> <%= @entity.name.present? ? @entity.name : @entity.id %></h2>

    <%= render 'form', urlpath: citationterms_entity_path %>
<% else %>
    <%= render 'bibliographies/not_permitted' %>
<% end %>