<% if @location.nil? %>
    <p>This record doesn't exist.</p>
    <%= link_to 'Go Back to Location Records index', citationterms_locations_path %>
<% elsif can? :edit, Location %>
    <h2 class="edit-label"><span class="header-label">Editing Location:</span> <%= @location.name %></h2>

    <%= render 'form', urlpath: citationterms_location_path %>
<% else %>
    <%= render 'bibliographies/not_permitted' %>
<% end %>