<% if can? :read, Location %>
  <h2>Location terms index</h2>

  <div class="button-group">
    <%= link_to 'Add New Location term', new_citationterms_location_path, class: 'btn btn-primary' %>
  </div>

  <%= grid(@locations_grid,
        show_filters: :when_filtered,
        allow_showing_all_records: false, 
        upper_pagination_panel: true
      ) do |g|

    g.column name: 'Name', attribute: 'normal_name' do |loc|
      loc.name
    end

    g.column name: 'Count' do |per|
      link_to per.bib_refs.count, references_citationterms_location_path(per.id)
    end

    g.column name: 'Last Modified At', attribute: 'updated_at', filter: false do |loc|
      format_date_string(loc.updated_at)
    end

    if can? :detroy, Location
      g.column do |loc|
        "<div class='icon show-link'><span class='icon-link'>#{link_to( 'Show', citationterms_location_path(loc) )}</span></div>".html_safe + 
        "<div class='icon edit-link'><span class='icon-link'>#{link_to( 'Edit', edit_citationterms_location_path(loc) )}</span></div>".html_safe + 
        "<div class='icon destroy-link'><span class='icon-link'>#{link_to( 'Delete', citationterms_location_path(loc), method: :delete, data: { confirm: 'Are you sure?' } )}</span></div>".html_safe
      end
    elsif can? :edit, Location
      g.column do |loc|
        "<div class='icon show-link'><span class='icon-link'>#{link_to( 'Show', citationterms_location_path(loc) )}</span></div>".html_safe + 
        "<div class='icon edit-link'><span class='icon-link'>#{link_to( 'Edit', edit_citationterms_location_path(loc) )}</span></div>".html_safe
      end
    else
      g.column do |loc|
        "<div class='icon show-link'><span class='icon-link'>#{link_to( 'Show', citationterms_location_path(loc) )}</span></div>".html_safe
      end
    end
  end -%>
  
  <div class="button-group">
    <%= link_to 'Add New Location term', new_citationterms_location_path, class: 'btn btn-primary' %>
  </div>

<% else %>
  <%= render 'bibliographies/not_permitted' %>
<% end %>
