<h2>Browse all Centuries</h2>

<div id="pagination_table" class="term-list-container">
  <% @periods.each do |per| %>
    <div class="term-list-item"><a href="/catalog?f[centuries_facet][]=<%= per.name %>"><%= per.name %></a></div>
  <% end %>
</div>