<div id="featured-records-carousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators. Disabled in CSS for featured records -->
  <!-- Set data-target attribute to the carousel id. -->
  <ol class="carousel-indicators">
    <li data-target="#featured-records-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#featured-records-carousel" data-slide-to="1"></li>
    <li data-target="#featured-records-carousel" data-slide-to="2"></li>
  </ol>


  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <% item_class = 'active' %>
    <% featured_records.each do |record| %>

      <!-- Each slide is an .item. The first slide should also have
      the .active class. -->
      <div class="item <%= item_class %>">

        <!-- Slide content here. -->
        <%= render 'featured_record', record: record %>

      </div>

      <% item_class = '' %>
    <% end %>
  </div>


  <!-- Controls -->
  <!-- Set href attribute to the carousel id. -->
  <a class="left carousel-control" href="#featured-records-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#featured-records-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>


<script>
    // Start the slider.

    $('#featured-records-carousel').carousel({
        interval: 10000
    })
</script>