<div class="banner-container">
    <div class="media">
        <div class="alert alert-success">
            <div class="media-left media-middle">
                <i class="fa fa-tools"></i>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Welcome to the <strong>beta version</strong> of the Jesuit Online Bibliography</h4>
                <p class="banner-text">
                Your comments and corrections are welcomed as we continue to modify the database before its formal launch. 
                At that time, we will also release the names of the contributors and of the additional institutional partners collaborating on the project. 
                Please <a href="mailto:jesuitonlinebibliography@bc.edu" class="alert-link">contact the editors</a> with questions.
                </p>
            </div>
        </div>
    </div>
</div>