<% if can? :update, Bibliography %>
  <div class="panel panel-default show-tools">
    <div class="panel-heading">
      Editor actions
    </div>

    <div class="panel-body">
      <%= link_to 'Edit this record', edit_bibliography_path(@document.id.to_s) %>
    </div>
  </div>
<% end %>