<div class="panel panel-default show-tools">
    <div class="panel-heading">
        Comments and Corrections
    </div>

    <div class="panel-body">
        Please email the <a href="mailto:jesuitonlinebibliography@bc.edu">editors</a> with any comments or corrections about this record. 
        Be sure to include the record name or URL along with your comment.
    </div>
</div>