<h1>Jesuit Bibliography</h1>

<% if can? :read, Subject %>
  <h2>Subjects listings</h2>

  <p><%= link_to 'Add New Subject', new_subject_path, class: 'btn btn-primary' %></p>

  <%= grid(@subjects_grid,
        show_filters: :when_filtered,
        allow_showing_all_records: false, 
        upper_pagination_panel: true
      ) do |g|

    g.column name: 'Name', attribute: 'name' do |sub|
      sub.name
    end

    if can? :detroy, Subject
      g.column do |sub|
        "<div class='icon show-link'><span class='icon-link'>#{link_to( 'Show', subject_path(sub) )}</span></div>".html_safe + 
        "<div class='icon edit-link'><span class='icon-link'>#{link_to( 'Edit', edit_subject_path(sub) )}</span></div>".html_safe + 
        "<div class='icon destroy-link'><span class='icon-link'>#{link_to( 'Delete', subject_path(sub), method: :delete, data: { confirm: 'Are you sure?' } )}</span></div>".html_safe
      end
    elsif can? :edit, Subject
      g.column do |sub|
        "<div class='icon show-link'><span class='icon-link'>#{link_to( 'Show', subject_path(sub) )}</span></div>".html_safe + 
        "<div class='icon edit-link'><span class='icon-link'>#{link_to( 'Edit', edit_subject_path(sub) )}</span></div>".html_safe
      end
    else
      g.column do |sub|
        "<div class='icon show-link'><span class='icon-link'>#{link_to( 'Show', subject_path(sub) )}</span></div>".html_safe
      end
    end
  end -%>

  <p><%= link_to 'Add New Subject', new_subject_path, class: 'btn btn-primary' %></p>

<% else %>
  <%= render 'bibliographies/not_permitted' %>
<% end %>
