<h2>Browse all Locations</h2>

<%= alphabetical_paginate @alpha_params %>

<div id="pagination_table" class="term-list-container">
  <% @locations.each do |loc| %>
    <div class="term-list-item"><a href="/catalog?f[locations_facet][]=<%= loc.name %>"><%= loc.name %></a></div>
  <% end %>
</div>