<% @page_title = browse_page_title letter: @letter, browse_by: 'Jesuits' %>

<h2>Browse all Jesuits</h2>

<p> Below you can browse the Jesuits examined in the project's records (the 'who' of the records). Each term appears in an alphabetical list, and when selected it will display all results associated with the specific term.</p>

<%= alphabetical_paginate @alpha_params %>

<div id="pagination_table" class="term-list-container">
  <% @entities.each do |entity| %>
    <div class="term-list-item">
      <% if can? :manage, Entity %><%= link_to 'edit', edit_citationterms_entity_path(entity.id), class: "term-edit btn btn-primary btn-xs" %><% end %>
      <a href="/catalog?f[jesuits_facet][]=<%= entity.name %>"><%= entity.name %></a>
    </div>
  <% end %>
</div>