<h1>Browse all Jesuits</h1>

<%= alphabetical_paginate @alpha_params %>

<div id="pagination_table" class="term-list-container">
  <% @entities.each do |entity| %>
    <div class="term-list-item"><a href="/?f[entities_facet][]=<%= entity.display_name %>"><%= entity.display_name %></a></div>
  <% end %>
</div>