/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker
 *= require select2
 *= require select2-bootstrap
 *= require_tree .
 
 *= require 'blacklight_advanced_search'


 *
 * Used by blacklight_range_limit
 *= require  'blacklight_range_limit'
 *
*/
 
 @import "wice_grid";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import 'parsley';

.value-part {
    display: block;
    margin: 0 0 .5rem 0;
}

.button-group {
    margin: .5rem 0 2rem 0;
    &:first-of-type {
        margin-top: 3rem;
    }
}

.form-check {
    label.form-check-label {
        margin-left: .5rem;
    }
}

.shared-links {
    margin-top: 4rem;
    border-top: 1px solid #aaa;
    padding-top: .5rem;
    .shared-links-header {
        margin:0;
        padding: 0 0 1rem;
        color: #444;
    }
    a {
        margin: .5rem 0 0 0;
        display: inline-block;
    }
}