// Place all the styles related to the Bibliographies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bibliography {
    html {
        position: relative;
    }

    body {
        /*margin-bottom: 120px!important;*/
    }

    input[type="checkbox"] {
        margin-right: 8px;
    }

    nav.navbar {
        .navbar-header {
            padding-left:15px;
            background-color: transparent;
        }
    }

    main {
        min-height: 600px;
    }

    h2.edit-label {
        color: #555;
    }
    .header-label {
        color: #000;
    }
    .error-panel {
        margin-top: 3rem;
    }
    .record-loading-message {
        font-size: 30px;
        padding: 4rem 0 0 0;
        margin: .5rem 0;
        line-height: 1;
        p {
            width: 200px;
            margin: 0 auto;
        }
    }

    #bib_form_container {
        h3.edit-label {
            color: #555;
            margin: 2rem 0 0 0;
        }
        .dashboard-btn {
            margin-top: 3rem;
        }
        .is-invalid {
            border: 2px solid red;
        }
    }

    .record-view {
        margin-top: 3rem;
        label {
            font-size: 15px;
            margin: 0;
            padding: .5rem;
            display: inline-block;
            text-align: right;
        }
        .field-value {
            font-size: 14px;
            margin: 0;
            padding: .5rem 1rem;
            display: inline-block;
        }
        .field-value.value-parts {
            padding: 0;
        }
        ul,ol {
            list-style-type: none;
        }
    }
    .citations-list {
        .value-part {
            padding-bottom: .5rem;
            border-bottom: 1px dashed #ddd;
            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }      
        }
        .badge-published {
            color: #fff;
            background-color: #5cb85c;
            border-color: #4cae4c;
        }
    }

    form.form-horizontal {
        .col-form-label,
        .col-form-label-static {
            padding: 10px 0 5px 0;
            line-height: 1;
            text-align: right;
        }
        .col-form-label-static {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
            font-weight: bold;
        }
        .static-value {
            line-height: 1;
            max-height: 34px;
            vertical-align: middle;
            margin-top: 10px;
        }
        .repeatable-field {
            margin-bottom: 2.5rem;
            .links {
                .btn-add-container {
                    margin-left: 0;
                    padding-left: 0;
                    .btn-add {
                        margin-left: 5px;
                    }
                }
            }
            
        }
    }
    .form-group-wrapper {
        .input-group {
            .row {
                margin:0;
                [class^="col-"] {
                    width: 100%;
                    padding: 0;
                    input.form-control {
                        border-top-left-radius: 4px;
                        border-bottom-left-radius: 4px
                    }
                }
            }
            .input-group-btn {
                vertical-align: top;
            }
            /* override select2 stylings */
            .select2-container--default .select2-selection--single {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    input[type="checkbox"] {
        margin-top: 1rem;
    }

    .btn-comment-remove {
        float:right;
    }
    .btn-remove {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        z-index: 2;
        margin-left: -1px;
    }

    .icon {
        padding: 0 0 4px 2px;
        &:after {
            display: inline;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 5 Free";
        }
    }

    .icon-link {
        margin-right: 6px;
    }

    /*a.fa-icon::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
    a.fa-icon.add_fields::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f067";
    }*/
    
    .show-link::after {
        content: "\f15c";
    }

    .edit-link::after {
        content: "\f044";
    }

    .destroy-link::after {
        content: "\f2ed";
    }

    .destroy-link {
        color: red;
    }

    #dashboard {
        .dashboard {
            margin-top: 3rem;
            .dashboard-link-container {
                margin-top: 2rem;
                .dashboard-link {
                    padding: 0 0 1rem 0;
                    &:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }

    .top-message {
        margin: 3rem 0;
        .list {
            margin-bottom: 2rem;
        }
    }

    #user-role-descriptions {
        h3 {
            padding-bottom: .75rem;
            border-bottom: 1px solid #aaa;
        }
        h3, h4 {
            padding-top: 1rem;
        }
    }

    .nested-fields {
        margin-bottom: 15px;
    }

    .footer-old {
        width: 100%;
        height: 60px;
        background-color: #f5f5f5;
    
        > .container {
            padding-right: 15px;
            padding-left: 15px;
            
            .text-muted {
                margin: 20px 0;
            }
        }

        ul.footer-links {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            
            li {
                display: inline-block;
                padding-right: 2rem;
                margin-right: 2rem;
                border-right: 1px solid #ccc;
            
                &:last-child {
                    padding-right: 0;
                    margin-right: 0;
                    border-right: none;
                }
            }
        }
    }

    /* override select2 stylings */
    .select2-container--default .select2-selection--single {
        height: 34px;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 32px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 4px;
    }
    
}