// Place all the styles related to the Bibliographies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bibliography {
    html {
        position: relative;
    }

    body {
        /*margin-bottom: 120px!important;*/
    }

    input[type="checkbox"] {
        margin-right: 8px;
    }

    nav.navbar {
        .navbar-header {
            padding-left:15px;
            background-color: transparent;
        }
    }

    main {
        min-height: 600px;
    }

    .footer {
        width: 100%;
        height: 60px;
        background-color: #f5f5f5;
    
        > .container {
            padding-right: 15px;
            padding-left: 15px;
            
            .text-muted {
                margin: 20px 0;
            }
        }

        ul.footer-links {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            
            li {
                display: inline-block;
                padding-right: 2rem;
                margin-right: 2rem;
                border-right: 1px solid #ccc;
            
                &:last-child {
                    padding-right: 0;
                    margin-right: 0;
                    border-right: none;
                }
            }
        }
    }
}