@import 'bootstrap-sprockets';

@import 'bootstrap';

@import 'blacklight/blacklight';
@import 'blacklight_marc';

h2.page-heading{
    font-size: 30px;
}

.button-container {
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    display: inline-block;
}
.button {
    display: inline-block;
    background-color: #69635f;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

.button:hover {
    background-color: rgb(59, 59, 59);
    color: white;
    text-decoration: none;
  }

#login-button a {
    display: inline-block;
    float: right;
    text-transform: none;
    color: black;
}

.term-edit {
    margin-right: 1rem;
}


.navbar-static-top {
    z-index:1;
}

.bc-top-nav.navbar-nav {
    float:right;
    li {
        .nav-item {
            display: inline-block;
            margin: 0 2rem;
            &:last-child {
                margin-right: 0;
            }
        }
        .nav-item.user-email a {
            text-transform: lowercase;
        }
        .nav-item.user-signout a,
        .nav-item.user-signin a {
            text-transform: none;
        }
    }
}

#search-navbar {
    form.navbar-form {
        .input-group {
            .input-group-addon.for-search-field {
                border: 0;
            }
            .twitter-typeahead {
                input {
                    border-radius: unset;
                }
            }
        }
   }
}


#header-navbar.navbar,
#header-navbar.navbar-inverse {
    .navbar-nav {
        li{
            text-transform: uppercase;
        }
        .dropdown {
            text-transform: uppercase;
        }
        .dropdown-menu {
            li {
                a {
                    color: #000!important;
                    text-transform: none;
                }
            }
        }
    }
}

.staticpage-container {
    font-size: 16px;
}

.blacklight-recordpages,
.blacklight-otherpages {
    #search-navbar {
        width: 100%!important;
        margin-left: 0;
        padding: 1rem 0;
        margin-bottom: 3rem;
        background-color: #fff;

        p#search-title {
            display:none;
        }
        .search-links {
            p {
                display: inline-block;
                margin: 1.5rem 2rem 0 0;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        form.navbar-form .input-group .input-group-addon.for-search-field {
            background-color: #ccc;
        }
    }
}

.blacklight-homepages {
    .col-100 {
        width: 100%;
    }
    #search-navbar {
        width: 100% !important;
        margin-left: 0;
        background-image: asset-url("Woodstock_update.png");
        background-size: cover;
        height: 400px;
        padding: 100px 0 0 0;
        margin-bottom: 0;
        background-color: inherit;

        p#search-title {
            display:block;
        }
        .search-links {
            p {
                display: block;
                margin: inherit;
            }
        }
        .search-query-form {
            width: 100%;
            padding-right: 0;
            margin: 0;
        }
        form.navbar-form .input-group .input-group-addon.for-search-field {
            background-color: #ccc;
        }
        .search-navbar-job {
            .form-wrapper {
                background-color: rgba(255, 255, 255, 0.15);
                padding: 25px;
                padding-bottom: 20px;
                color: white;
                font-size: 18px;
                text-transform: uppercase;
                
            }
            a:link, a:visited {
                color: white;
                float: right;
                padding-top: 15px;
                margin-right: 15px;
                font-size: 18px;
                text-transform: none;
            }
            
        }
    }
}

.home-text {
    border-bottom: 5px solid #872334;
    padding-left: 5%;
    padding-right: 5%;
}

#learn-more {
    font-size:15px;
    text-transform: uppercase;
    text-align: center;
    padding: 30px;
    }

.home-heading {
    font-size: 20px;
    color: #872334;
    text-transform: uppercase;
    text-align: center;
}

.home-collaborators {

    .collaborators-static {
        list-style-type: none;
        margin: 20px 0;
        
        padding: 50px;
        text-align: center;
        li {
            display: inline-block;
            padding: 25px 30px;
            line-height: 1;
        }
    }
    .inner-collaborators {
        background: #cccc;
    
        .collaborator-links {
            padding-top: 40px;
            list-style-type: none;
            margin: 20px 0;
            padding: 40px;
            text-align: center;
            li {
                display: inline-block;
                padding: 20px 40px;
                line-height: 1;
            }
    
        }
    }

}

#collaborators-carousel {
    max-width: 700px;
    margin: 4em auto;

    // Hide the indicators for this carousel.
    .carousel-indicators {
        display: none;
    }

    .featured-record {
        /*width: 70%;*/
        margin: 0 auto;
        min-height: 270px;
        padding: 1em 0;
    }

    .item {
        text-align: center;
        padding-top: 5%;
        a {
            display: inline-block;
            padding: 3%;
            margin: 3%;
            vertical-align: middle;
        }
    }
}

.featured-heading {
    border-top: 5px solid #872334;
    font-size: 20px;
    color: #872334;
    text-transform: uppercase;
    text-align: center;
    padding-top: 3%;

}

@media screen and (max-width: 700px) {
    #collaborators-carousel {
        .featured-record {
            min-height: 280px;
        }
    }
}


#header-navbar.navbar-static-top {
    z-index:2;
}

.navbar {
    background-color: #69635f;
    li a:link {
        color: white;
    }
}

.navbar-inverse .navbar-nav li a{
    color: white;
} 

.navbar-nav .dropdown-menu li a:link{
    color: black;
    a:hover{
        color:#8c8a89;
    }
}


#document {
    dl {
        dt, dd {
            min-height: 20px;
        }
    }
    .dl-horizontal dd {
        margin-bottom: 1rem;
    }
    .dd-part {
        margin-bottom: .25rem;

        &:last-child {
            margin-bottom: 0px;
        }
    }
    .rc-block {
        margin-bottom: 1.5rem;
        .rc-row {
            display: block;
            margin-bottom: .25rem;
        }
        .rc-item {
            margin-bottom: .25rem;
            .rc-label {
                font-weight: 600;
            }
            .rc-text {
                display:inline-block;
            }
            .rc-record-link {
                margin-left: 3.5rem;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

#pagination_table {
    .term-list-item {
        margin: .25rem 0 .75rem 0;
    }
}

footer.bcfooter {
    .footer {
        background-color: white;
        margin-top: 5%;
        .row {
            margin-left: auto;
            margin-right: auto;
        }
        .inner {
            font-size: 16px;
            .logo {
                padding-left: 0px;
                padding-top:3%;
            }
            .pagebreak {
                border-bottom: solid 5px #872334;
                padding-bottom: 10px;
                p {
                    margin: 0 0 5px;
                    padding-top: 3%;
                }
            }

            #order {
                display: flex;
                align-items: flex-end;
            }
            .footer-text {
                padding-top: 3%;
                padding-left: 0px;
                .footer-title {
                    font-size: 20px;
                    font-weight: 700;
                }
                a {
                    text-decoration: underline;
                }
            }

            .site-links {
                list-style-type: none;
                margin: 3% 0;
                padding: 0px;
                text-align: center;
                li {
                    display: inline-block;
                    font-size: 14px;
                    padding: 0 3%;
                    line-height: 1;
                    border-right: 1px solid;
                    text-transform: uppercase;
                    &:last-child {
                        border-right: 0px;
                    }
                    a {
                        color: #872334;
                    }
                }
            }
            .copyright {
                text-align: center;
                color: #B29D6C;
                font-size: 14px;
            }
        }
    }
}

.twitter-typeahead {
    color: #000;

    .tt-suggestion {
        cursor: pointer;
        &:hover {
            background-color:#E6EEF5;
        }
    }
}

/*.blacklight-catalog-index #search-navbar .search-navbar-job .form-wrapper {
    text-transform: none;
}*/

.heading-container {
    h2 {
        font-size: 25px;
        color: #872334;
    }
}

.about-body{
    border-left: solid #bc9b6a 3px;
}

/* Abstracts can have <p> elements in them, which messes up spacing. */
.blacklight-abstract_text {
    p { margin-bottom: .75rem}
    p:last-child { margin-bottom: 0}
}

@media (max-width: 1050px) {
    #order {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
}

@media (min-width: 768px) {
    #header-navbar {
        .navbar {
            margin-bottom: 0px;
            .navbar-nav {
                /* float: left; */
                /* margin: 0; */
                float: none;
                margin: 0 auto;
                display: table;
                table-layout: fixed;
            }
        }
    }

    #order {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .footer-text {
        width: 100%;
    }
}


@media (max-width: 767px) {
    .top-menu {
        padding-top: 0;
        padding-bottom: 0;
    }
    ul.navbar-nav {
        width:100%;
        float:none;
        font-size: larger;
        text-align: right;
        li {
            display: inline-block;
        }
    }
    
    .footer-text {
        width: 100%;
    }

    #order {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width: 425px) {
    .top-menu {
        padding-right: 10px;
        word-break: break-all;
    }
    .blacklight-homepages {
        #search-navbar {
            .search-navbar-job {
                .form-wrapper {
                    padding: 10px;
                }
            }
        }
    }

    .footer-text {
        width: 100%;
    }

    #order {
        display: flex;
        flex-direction: column-reverse;
    }
    
}