@import 'bootstrap-sprockets';

@import 'bootstrap';

@import 'blacklight/blacklight';
@import 'blacklight_marc';

h2.page-heading{
    font-size: 30px;
}

.button-container {
    padding-bottom: 20px;
    text-align: center;
}
.record-button {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}

.navbar-static-top {
    z-index:1;
}
.blacklight-catalog-index {
    #search-navbar {
        background-image: asset-url("searchbarbox.jpg");
        background-size: cover;
        height: 400px;
        padding-top: 100px;
    
        .search-query-form {
            width: 100%;
        }
        .search-navbar-job {
            .form-wrapper {
                background-color: rgba(255, 255, 255, 0.35);
                padding: 25px;
                padding-bottom: 20px;
                color: white;
                font-size: 15px;
                text-transform: uppercase;
                
            }
                a:link, a:visited {
                color: white;
                float: right;
                padding-top: 15px;
                margin-right: 15px;
                font-size: 15px;
                text-transform: none;
                }
            
        }
    }
}

.page-header {
    border-bottom: none;
    margin: none;
}

.home-text {
    border-bottom: 5px solid #872334;
}

#learn-more {
    font-size:15px;
    text-transform: uppercase;
    text-align: center;
    padding: 30px;
    }

.home-heading {
    font-size: 20px;
    color: #872334;
    text-transform: uppercase;
    text-align: center;
}

.home-collaborators {

    .collaborators-static {
        list-style-type: none;
        margin: 20px 0;
        padding: 50px;
        text-align: center;
        li {
            display: inline-block;
            padding: 0 40px;
            line-height: 1;
        }
    }
    .inner-collaborators {
        background: #cccc;
    
        .collaborator-links {
            padding-top: 40px;
            list-style-type: none;
            margin: 20px 0;
            padding: 40px;
            text-align: center;
            li {
                display: inline-block;
                padding: 0 20px;
                line-height: 1;
            }
    
        }
    }

}

.home-featured {
    background: rgba(236, 226, 212, 0.8);
    .home-heading {
        padding-top: 30px;
    }
}



#header-navbar.navbar-static-top {
    z-index:2;
}

.navbar {
    background-color: #8c8a89;
    li a:link {
        color: white;
    }
}

.navbar-inverse .navbar-nav li a{
    color: white;
} 

.navbar-nav .dropdown-menu li a:link{
    color: black;
    a:hover{
        color:#8c8a89;
    }
}


#document {
    dl {
        dt, dd {
            min-height: 20px;
        }
    }
    .dd-part {
        margin-bottom: .75rem;

        &:last-child {
            margin-bottom: 0px;
        }
    }
}

#pagination_table {
    .term-list-item {
        margin: .25rem 0 .75rem 0;
    }
}

footer.bcfooter {
    .footer {
        background-color: white;
        .inner {
            border-top: 5px solid #872334;
            font-size: 16px;
            .logo {
                padding-left: 0px;
            }
            .footer-text {
                padding-top: 20px;
                .address {
                padding-top:20px;
                }
            }
            .site-links {
                list-style-type: none;
                margin: 20px 0;
                padding: 0px;
                text-align: center;
                li {
                    display: inline-block;
                    color: #872334;
                    padding: 0 20px;
                    line-height: 1;
                    border-right: 1px solid;
                    text-transform: uppercase;
                    &:last-child {
                        border-right: 0px;
                    }
                }
            }
            .copyright {
                text-align: center;
                color: #B29D6C;
                font-size: 14px;
            }
        }
    }
}

.twitter-typeahead {
    color: #000;
}

.blacklight-catalog-index #search-navbar .search-navbar-job .form-wrapper {
    text-transform: none;
}

/* Abstracts can have <p> elements in them, which messes up spacing. */
.blacklight-abstract_text {
    p { margin-bottom: .75rem}
    p:last-child { margin-bottom: 0}
}