@import 'bootstrap-sprockets';

@import 'bootstrap';

@import 'blacklight/blacklight';
@import 'blacklight_marc';

h2.page-heading{
    font-size: 30px;
}

.navbar-static-top {
    z-index:1;
}

#header-navbar.navbar-static-top {
    z-index:2;
}

#document {
    dl {
        dt, dd {
            min-height: 20px;
        }
    }
    .dd-part {
        margin-bottom: .75rem;

        &:last-child {
            margin-bottom: 0px;
        }
    }
}

#pagination_table {
    .term-list-item {
        margin: .25rem 0 .75rem 0;
    }
}

footer.bcfooter {
    .footer {
        background-color: white;
        .inner {
            border-top: 5px solid #872334;
            font-size: 16px;
            .logo {
                padding-left: 0px;
            }
            .footer-text {
                padding-top: 20px;
                .address {
                    padding-top:20px;
                }
            }
            .site-links {
                list-style-type: none;
                margin: 20px 0;
                padding: 0px;
                text-align: center;
                li {
                    display: inline-block;
                    color: #872334;
                    padding: 0 20px;
                    line-height: 1;
                    border-right: 1px solid;
                    text-transform: uppercase;
                    &:last-child {
                        border-right: 0px;
                    }
                }
            }
            .copyright {
                text-align: center;
                color: #B29D6C;
                font-size: 14px;
            }
        }
    }
}