@import 'bootstrap-sprockets';

@import 'bootstrap';

@import 'blacklight/blacklight';
@import 'blacklight_marc';

h2.page-heading{
    font-size: 30px;
}

.button-container {
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}
.record-button {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
}

#login-button a {
    display: inline-block;
    float: right;
    text-transform: none;
    color: black;
}


.navbar-static-top {
    z-index:1;
}

.bc-top-nav.navbar-nav {
    float:right;
    li {
        .nav-item {
            display: inline-block;
            margin: 0 2rem;
            &:last-child {
                margin-right: 0;
            }
        }
        .nav-item.user-email a {
            text-transform: lowercase;
        }
    }
}

#search-navbar {
    form.navbar-form {
        .input-group {
            .input-group-addon.for-search-field {
                border: 0;
            }
            .twitter-typeahead {
                input {
                    border-radius: unset;
                }
            }
        }
   }
}


#header-navbar.navbar,
#header-navbar.navbar-inverse {
    .navbar-nav {
        li{
            text-transform: uppercase;
        }
        .dropdown {
            text-transform: uppercase;
        }
        .dropdown-menu {
            li {
                a {
                    color: #000!important;
                    text-transform: none;
                }
            }
        }
    }
}

.staticpage-container {
    font-size: 16px;
}

.blacklight-catalog,
.blacklight-sessions,
.blacklight-subjects,
.blacklight-locations,
.blacklight-entities,
.blacklight-periods,
.blacklight-search_history,
.blacklight-manage_users,
.blacklight-registrations,
.blacklight-saved_searches,
.blacklight-staticpages,
.blacklight-bookmarks {
    #search-navbar {
        width: 100%!important;
        margin-left: 0;
        padding: 1rem 0;
        margin-bottom: 3rem;
        background-color: #fff;

        p#search-title {
            display:none;
        }
        .search-links {
            p {
                display: inline-block;
                margin: 1.5rem 2rem 0 0;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        form.navbar-form .input-group .input-group-addon.for-search-field {
            background-color: #ccc;
        }
    }
}

.blacklight-catalog-job_home {
    .col-100 {
        width: 100%;
    }
    #search-navbar {
        background-image: asset-url("Woodstock_update.png");
        background-size: cover;
        height: 400px;
        padding: 100px 0 0 0;
        margin-bottom: 0;
        background-color: inherit;
        p#search-title {
            display:block;
        }
        .search-links {
            p {
                display: block;
                margin: inherit;
            }
        }
        .search-query-form {
            width: 100%;
        }
        form.navbar-form .input-group .input-group-addon.for-search-field {
            background-color: #ccc;
        }
        .search-navbar-job {
            .form-wrapper {
                background-color: rgba(255, 255, 255, 0.15);
                padding: 25px;
                padding-bottom: 20px;
                color: white;
                font-size: 18px;
                text-transform: uppercase;
                
            }
            a:link, a:visited {
                color: white;
                float: right;
                padding-top: 15px;
                margin-right: 15px;
                font-size: 18px;
                text-transform: none;
            }
            
        }
    }
}

.home-text {
    border-bottom: 5px solid #872334;
    padding-left: 5%;
    padding-right: 5%;
}

#learn-more {
    font-size:15px;
    text-transform: uppercase;
    text-align: center;
    padding: 30px;
    }

.home-heading {
    font-size: 20px;
    color: #872334;
    text-transform: uppercase;
    text-align: center;
}

.home-collaborators {

    .collaborators-static {
        list-style-type: none;
        margin: 20px 0;
        
        padding: 50px;
        text-align: center;
        li {
            display: inline-block;
            padding: 25px 30px;
            line-height: 1;
        }
    }
    .inner-collaborators {
        background: #cccc;
    
        .collaborator-links {
            padding-top: 40px;
            list-style-type: none;
            margin: 20px 0;
            padding: 40px;
            text-align: center;
            li {
                display: inline-block;
                padding: 20px 40px;
                line-height: 1;
            }
    
        }
    }

}

#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
  }
  
  #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
  }
  
  #slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 700px;
    min-width: 300px;
    height: 300px;
    background: #ccc;
    text-align: center;
    line-height: 300px;
        a{
            padding: 3%;
            margin: 3%;
        }
  }

  
  a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
  }
  
  a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.5s ease;
  }
  
  a.control_prev {
    border-radius: 0 2px 2px 0;
  }
  
  a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
  }
  
  .slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
  }

.home-featured {
    background: rgba(236, 226, 212, 0.8);
    .home-heading {
        padding-top: 30px;
    }
}



#header-navbar.navbar-static-top {
    z-index:2;
}

.navbar {
    background-color: #69635f;
    li a:link {
        color: white;
    }
}

.navbar-inverse .navbar-nav li a{
    color: white;
} 

.navbar-nav .dropdown-menu li a:link{
    color: black;
    a:hover{
        color:#8c8a89;
    }
}


#document {
    dl {
        dt, dd {
            min-height: 20px;
        }
    }
    .dl-horizontal dd {
        margin-bottom: 1rem;
    }
    .dd-part {
        margin-bottom: .25rem;

        &:last-child {
            margin-bottom: 0px;
        }
    }
    .rc-block {
        margin-bottom: 1.5rem;
        .rc-item {
            margin-bottom: .25rem;
            .rc-label {
                font-weight: 600;
            }
            .rc-record-link {
                margin-left: 3.5rem;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

#pagination_table {
    .term-list-item {
        margin: .25rem 0 .75rem 0;
    }
}

footer.bcfooter {
    .footer {
        background-color: white;
        margin-top: 5%;
        .row {
            margin-left: auto;
            margin-right: auto;
        }
        .inner {
            font-size: 16px;
            .logo {
                padding-left: 0px;
            }
            .pagebreak {
                border-bottom: solid 5px #872334;
                padding-bottom: 10px;
                p {
                    margin: 0 0 5px;
                    padding-top: 3%;
                }
            }
            .footer-text {
                padding-top: 3%;
                padding-left: 0px;
                .footer-title {
                    font-size: 20px;
                    font-weight: 700;
                }
                a {
                    text-decoration: underline;
                }
            }
            .site-links {
                list-style-type: none;
                margin: 3% 0;
                padding: 0px;
                text-align: center;
                li {
                    display: inline-block;
                    font-size: 14px;
                    padding: 0 3%;
                    line-height: 1;
                    border-right: 1px solid;
                    text-transform: uppercase;
                    &:last-child {
                        border-right: 0px;
                    }
                    a {
                        color: #872334;
                    }
                }
            }
            .copyright {
                text-align: center;
                color: #B29D6C;
                font-size: 14px;
            }
        }
    }
}

.twitter-typeahead {
    color: #000;

    .tt-suggestion {
        cursor: pointer;
        &:hover {
            background-color:#E6EEF5;
        }
    }
}

.blacklight-catalog-index #search-navbar .search-navbar-job .form-wrapper {
    text-transform: none;
}

.heading-container {
    h2 {
        font-size: 25px;
        color: #872334;
    }
}

.about-body{
    border-left: solid #bc9b6a 3px;
}

/* Abstracts can have <p> elements in them, which messes up spacing. */
.blacklight-abstract_text {
    p { margin-bottom: .75rem}
    p:last-child { margin-bottom: 0}
}

@media (min-width: 768px) {
    #header-navbar {
        .navbar {
            margin-bottom: 0px;
            .navbar-nav {
                /* float: left; */
                /* margin: 0; */
                float: none;
                margin: 0 auto;
                display: table;
                table-layout: fixed;
            }
        }
    }
}