#featured-records-carousel {
    max-width: 700px;
    margin: 4em auto;

    // Hide the indicators for this carousel.
    .carousel-indicators {
        display: none;
    }

    .featured-record {
        width: 70%;
        margin: 0 auto;
        min-height: 310px;
        padding: 1em 0;

        .book-cover-col {
            img {
                width: 80px;
                margin-top: 24px;

                &.generic-cover {
                    margin-top: 16px;
                }
            }
        }
    }
}


@media screen and (max-width: 700px) {
    #featured-records-carousel {
        .featured-record {
            min-height: 450px;
        }
    }
}