<div class='nested-fields'>
    <%= form.input :peep, wrapper: :vertical_input_group_job do %>
        <%= form.association :person, 
            label: false,
            collection: [Person.find_by_id(form.object.person_id)], 
            prompt: prompt_label,
            form_name: 'form',
            hint: hint_text ||= false,
            input_html: {
                class: class_name, 
                "data-url": citationterms_search_path
            }
        %>
        <span class="input-group-btn" id="basic-addon-citation">
            <%= link_to_remove_association "<btn class='btn btn-danger btn-remove'>X</btn>".html_safe, 
                form,
                class: 'remove-link', 
                form_name: 'form' 
            %>
        </span>
    <% end %>
</div>