<div class='bibliography-citation-fields nested-fields'>
    <%= form.input :display_name, 
        label: '',
        as: :string
    %>
    <%= link_to_remove_association "x", 
        form,
        class: 'remove-link', 
        form_name: 'form' 
    %>
</div>