<div class='bibliography-standard_identifier-fields nested-fields'>
    <%= form.input :value, as: :string, input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' } %>
    <%= link_to_remove_association "x", form, {:class => 'remove-link'}, form_name: 'form' %>
</div>