<div class='bibliography-entity-fields nested-fields form-group row'>
    <%= form.input :entity, wrapper: :vertical_input_group do %>
        <%= form.association :entity, 
            label: false,
            collection: Entity.all.order(:display_name), 
            prompt: 'Choose an Entity', 
            form_name: 'form',
            input_html: {class: 'entities'}
        %>
        <span class="input-group-btn" id="basic-addon-entity">
            <%= link_to_remove_association "<btn class='btn btn-danger btn-remove'>X</btn>".html_safe, 
                form, 
                class: 'remove-link', 
                form_name: 'form' 
            %>
        </div>
    <% end %>
</div>