<div class='bibliography-period-fields nested-fields form-group row'>
    <%= form.input :period, wrapper: :vertical_input_group do %>
        <%= form.association :period, 
            label: false,
            collection: Period.order(:sort_name), 
            prompt: 'Choose a period', 
            form_name: 'form' 
        %>
        <span class="input-group-btn" id="basic-addon-period">
            <%= link_to_remove_association "<btn class='btn btn-danger btn-remove'>X</btn>".html_safe, 
                form, 
                class: 'remove-link', 
                form_name: 'form' 
            %>
        </span>
    <% end %>
</div>