<div class='nested-fields'>
    <%= form.input :name, wrapper: :vertical_input_group_job do %>
        <%= form.association :language, 
            label: false,
            collection: [Language.find_by_id(form.object.language_id)],
            prompt: prompt_label, 
            form_name: 'form',
            required: required_status,
            validate: required_status,
            label_html: { class: 'invisible' },
            input_html: {
                class: class_name,
                "data-url": citationterms_search_path
            }
        %>
        <span class="input-group-btn" id="basic-addon-languages">
            <%= link_to_remove_association "<btn class='btn btn-danger btn-remove'>X</btn>".html_safe, 
                form,
                class: 'remove-link', 
                form_name: 'form' 
            %>
        </span>
    <% end %>
</div>