<%# backend-based validation error details %>
<% if @bib.errors.any? %>
  <div class="panel panel-danger error-panel" id="error_explanation">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@bib.errors.count, "error") %> prohibited this record from being saved:</h3>
    </div>
    <div class="panel-body">
      <ul>
        <% @bib.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%# clientside-based form validation error details %>
<div class="panel panel-danger error-panel error-panel-clientside" id="error_explanation_clientside" style="display:none;">
  <div class="panel-heading">
    <h3 class="panel-title">An error prohibited this record from being saved:</h3>
  </div>
  <div class="panel-body">
  </div>
</div>

<%# parsley client-side validation error details %>
<div class="panel panel-danger error-panel bs-callout bs-callout-warning hidden">
  <div class="panel-heading">
    <h3 class="panel-title">Form Validation Status:</h3>
  </div>
  <div class="panel-body">
    Error: Please check that all required fields are filled.
  </div>
</div>

<div class="panel panel-success error-panel bs-callout bs-callout-info hidden">
  <div class="panel-heading">
    <h3 class="panel-title">Form Validation Status:</h3>
  </div>
  <div class="panel-body">
    Success! All required fields appear to be filled.
  </div>
</div>