<div id="select_form" class="dropdown">
    <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="button_text">Select a document type</span> <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#" data="book_form">Book</a></li>
      <li><a href="#" data="book_chapter_form">Book chapter</a></li>
      <li><a href="#" data="book_review_form">Book review</a></li>
      <li><a href="#" data="journal_article_form">Journal article</a></li>
      <li><a href="#" data="dissertation_form">Dissertation</a></li>
      <li><a href="#" data="conference_paper_form">Conference paper</a></li>
      <li><a href="#" data="multimedia_form">Multimedia</a></li>
    </ul>
</div>

<div id="bib_form_container">
  <div class="button-group">
    <%= link_to 'Go Back to Dashboard', dashboard_path, class: "dashboard-btn btn btn-info" %>
  </div>
</div>

<div class="record-loading-message" style="display:none;">
    <p>Loading... <i class="fa fa-compact-disc fa-spin"></i></p>
</div>

<script>
  $(document).ready(function() {
    // get bib ID
    var bib_id = "<%= @bib.id %>";
    if (bib_id === "") {
      bib_id = "new";
    }

    function hide_controls() {
      // remove dropdown on non-new record views
      if (bib_id != "new") {
        $("#select_form").hide();
      }
      $('.button-group').hide();
      $('.bib_form').hide();
      toggle_message();
    }

    function toggle_message() {
      $('.record-loading-message').toggle();
    }

    function get_partial(bib_id, bib_type) {
      $.ajax({ 
        url: '/form_partial/' + bib_id + '/' + bib_type, 
        beforeSend: hide_controls
      })
      .done(toggle_message);
    }

    // check if this record has a reference type
    // and display the proper form partial
    var bib_name = "<%= @reference_type %>";

    if (bib_name && bib_name.length) {
      // convert reference_type to bib_type format
      // e.g. "Book review" => "book_review_form"
      var bib_type = bib_name.replace(/\s+/g, '_').toLowerCase() +  "_form";

      // fetch partial
      get_partial(bib_id, bib_type)
    }

    // update partial on dropdown click
    $('#select_form ul.dropdown-menu li > a').click(function(event){
      event.preventDefault();
      var $this = $(this);
      var bib_type = $this.attr('data');
      var bib_name = $this.text();

      // fetch partial
      get_partial(bib_id, bib_type);

      // update dropdown text
      $("#select_form .button_text").html("Selected: <strong>" + bib_name + "</strong>");
    });
  });
 </script>