<%# parsley client-side validation error details %>
<div class="panel panel-danger error-panel bs-callout bs-callout-warning hidden">
  <div class="panel-heading">
    <h3 class="panel-title">Form Validation Status:</h3>
  </div>
  <div class="panel-body">
    Error: Please check that all required fields are filled.
  </div>
</div>

<div class="panel panel-success error-panel bs-callout bs-callout-info hidden">
  <div class="panel-heading">
    <h3 class="panel-title">Form Validation Status:</h3>
  </div>
  <div class="panel-body">
    Success! All required fields appear to be filled.
  </div>
</div>