<div class='bibliography-series_multimedia-fields nested-fields form-group row'>
    <%= form.input :name, wrapper: :vertical_input_group do %>
        <%= form.input :name, 
            label: false,
            as: :string,
            label_html: { class: 'invisible' }
        %>
        <span class="input-group-btn" id="basic-addon-citation">
            <%= link_to_remove_association "<btn class='btn btn-danger btn-remove'>X</btn>".html_safe, 
                form,
                class: 'remove-link', 
                form_name: 'form' 
            %>
        </span>
    <% end %>
</div>