<h1>Jesuit Bibliography</h1>

<% if current_user.admin_role? || current_user.editor_role? %>
<h2>Locations listings</h2>

<p><%= link_to 'Add New Location', new_location_path, class: 'btn btn-primary' %></p>

<%= grid(@locations_grid,
      show_filters: :when_filtered,
      allow_showing_all_records: false, 
      upper_pagination_panel: true
    ) do |g|

  g.column name: 'Name', attribute: 'name' do |loc|
    loc.name
  end

  g.column do |loc|
    "<div class='icon show-link'><span class='icon-link'>#{link_to( 'Show', location_path(loc) )}</span></div>".html_safe + 
    "<div class='icon edit-link'><span class='icon-link'>#{link_to( 'Edit', edit_location_path(loc) )}</span></div>".html_safe + 
    "<div class='icon destroy-link'><span class='icon-link'>#{link_to( 'Delete', location_path(loc), method: :delete, data: { confirm: 'Are you sure?' } )}</span></div>".html_safe
  end
end -%>

<% end %>

<p><%= link_to 'Add New Location', new_location_path, class: 'btn btn-primary' %></p>
