<% if @subject.nil? %>
    <p>This record doesn't exist.</p>
    <%= link_to 'Go Back to Subject Records index', citationterms_subjects_path %>
<% elsif can? :edit, Subject %>
    <h2 class="edit-label"><span class="header-label">Editing Subject:</span> <%= @subject.name.present? ? @subject.name : @subject.id %></h2>

    <div class="alert alert-info" role="alert">Updating this record will also update all other records that reference this term. This may take several seconds to complete!</div>

    <%= render 'form', urlpath: citationterms_subject_path %>
<% else %>
    <%= render 'bibliographies/not_permitted' %>
<% end %>