<h2>Add New Subject Term</h2>

<% if can? :create, Subject %>
    <%= render 'error_messages' %>

    <%= render 'form', urlpath: citationterms_subjects_path %>

    <%= render 'error_messages' %>
<% else %>
  <%= render 'bibliographies/not_permitted' %>
<% end %>